@use '../../../styles/util/' as u;

.file {
  position: relative;
  border-radius: u.rem(15);
  padding: u.rem(10);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: u.rem(10);
  transition: background-color, outline 0.3s ease-in-out;

  &__thumbnail {
    width: u.rem(60);
    height: u.rem(60);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include u.breakpoint-down(small) {
      width: u.rem(50);
      height: u.rem(50);
    }

    * {
      max-width: 100%;
      max-height: 100%;
      object-fit: contain;
    }
    svg {
      filter: drop-shadow(u.rem(4) u.rem(6) u.rem(4) rgba(0, 0, 0, 0.15));
    }
    img {
      border: u.rem(3) solid var(--background-color);
      box-shadow: 0 u.rem(8) u.rem(10) 0 rgba(0, 0, 0, 0.15);
    }
    video {
      border-block: u.rem(7) solid var(--D500);
      position: relative;
    }
  }

  p {
    font-size: u.rem(13);
    width: u.rem(100);
    text-align: center;
    overflow-wrap: break-word;
    object-fit: contain;
    cursor: default;
  }

  &:hover,
  &:focus-visible,
  &.open-menu {
    background-color: var(--D50);
  }
}
