@use '../../styles/util/' as u;

.flashcard-viewer {
  --card-width: unset; // Placeholder value; will be dynamically updated using ResizeObserver in JavaScript
  --front-color: white;
  --back-color: var(--P500);

  margin: u.rem(15) u.rem(30);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: u.rem(20);

  &__card-container {
    position: relative;
    width: var(--card-width);
    height: calc(var(--card-width) / 1.5);
  }

  &__card {
    position: absolute;
    top: 0;
    left: 0;
    perspective: 1000px;
    width: 100%;
    height: 100%;
    transition: transform 0.4s;
    transform-style: preserve-3d;
    cursor: pointer;

    &-front,
    &-back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      border-radius: u.rem(16);
      box-shadow: 0 u.rem(4) u.rem(24) 0 hsla(224, 22%, 20%, 0.122);
      padding-inline: calc(var(--card-width) * 0.1);
      padding-block: calc(var(--card-width) * 0.15);
    }

    &-front {
      background-color: var(--front-color);
    }

    &-back {
      background-color: var(--back-color);
      transform: rotateY(180deg);
      color: white;
    }

    &-content {
      position: relative;
      width: 100%;
      height: 100%;
    }

    &-text {
      width: 100%;
      height: 100%;
      overflow: scroll;
      text-align: center;
      align-content: center;
      font-size: clamp(u.rem(16), calc(var(--card-width) * 0.03), u.rem(18));
    }

    &-text-overlay {
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      height: u.rem(40);

      &.front {
        background: linear-gradient(hsla(0, 0%, 100%, 0), var(--front-color));
      }

      &.back {
        background: linear-gradient(hsla(0, 0%, 100%, 0), var(--back-color));
      }
    }
  }

  &__controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: u.rem(10);
  }

  &__controls-left {
    width: 33%;
    display: flex;
    justify-content: end;
  }

  &__controls-right {
    width: 33%;
    display: flex;
    flex-direction: row;
    gap: u.rem(10);

    > .icon-button svg {
      transform: rotate(180deg);
    }

    > div {
      display: flex;
      gap: u.rem(5);
    }
  }
}
