@use '../../styles/util/' as u;

.flashcard-viewer {
  margin: u.rem(15);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: u.rem(20);

  &__card-container {
    position: relative;
    width: u.rem(300);
    height: u.rem(200);
  }

  &__card {
    position: absolute;
    top: 0;
    left: 0;
    perspective: 1000px;
    width: 100%;
    height: 100%;
    transition: transform 0.4s;
    transform-style: preserve-3d;
    cursor: pointer;

    &-front,
    &-back {
      position: absolute;
      width: 100%;
      height: 100%;
      backface-visibility: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: u.rem(16);
      box-shadow: 0 u.rem(4) u.rem(24) 0 hsla(224, 22%, 20%, 0.122);
    }

    &-front {
      background-color: white;
    }

    &-back {
      background-color: var(--P500);
      transform: rotateY(180deg);
      color: white;
    }
  }

  &__controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: u.rem(10);
  }

  &__controls-left {
    width: 33%;
    display: flex;
    justify-content: end;
  }

  &__controls-right {
    width: 33%;
    display: flex;
    flex-direction: row;
    gap: u.rem(10);

    > .icon-button svg {
      transform: rotate(180deg);
    }

    > div {
      display: flex;
      gap: u.rem(5);
    }
  }
}
