@use '../../styles/util/' as u;

.dashboard {
  display: flex;
  background-color: hsl(0, 14%, 97%);

  main {
    margin-right: u.rem(30);
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
