@use '../../../styles/util/' as u;

.propertyMenu {
  cursor: auto;
  position: absolute;
  z-index: 100;
  top: 100%;
  left: 0;
  width: u.rem(200);
  border: u.rem(0.5) solid var(--M75);
  border-radius: u.rem(10);
  padding: u.rem(10);

  display: flex;
  flex-direction: column;
  gap: u.rem(10);

  background-color: var(--background-color);
  box-shadow: 0 u.rem(8) u.rem(10) 0 hsla(0, 0%, 0%, 0.15);

  .input {
    border: u.rem(1.5) solid var(--D50);
  }

  .menuItem {
    border-radius: u.rem(10);
    border: u.rem(1.5) solid var(--D50);
  }

  .chrome-picker {
    width: auto !important;
    box-shadow: none !important;
    border: u.rem(1.5) solid var(--D50);
    border-radius: u.rem(10) !important;
    font-family: 'Nunito' !important;

    > div:nth-of-type(1) {
      border-radius: u.rem(10) u.rem(10) 0 0 !important;
    }
  }
}
