@font-face {
  font-family: 'Nunito', sans-serif;
  src: url('/Users/salma/Documents/Software Engineering/CS50x Final Project/client/src/assets/fonts/Nunito-VariableFont_wght.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Bellaboo';
  src: url('/Users/salma/Documents/Software Engineering/CS50x Final Project/client/src/assets/fonts/bellaboo.ttf')
    format('truetype');
}

@font-face {
  font-family: 'Vintage';
  src: url('/Users/salma/Documents/Software Engineering/CS50x Final Project/client/src/assets/fonts/Vintage-Rotter.otf')
    format('opentype');
}
