@use '../../styles/util/' as u;

.action-sub-item {
  border-radius: u.rem(20);
  padding: u.rem(8) u.rem(25) u.rem(10) u.rem(30);
  display: flex;
  justify-content: space-between;
  gap: u.rem(10);
  align-items: center;
  transition: all 200ms ease-in;

  // Control visibility of the edit and delete buttons depending on focus
  .icon-button {
    opacity: 0; // hide

    &:focus {
      opacity: 1; // reveal when navigating with keyboard
    }
  }

  &:hover,
  &:focus-visible {
    background-color: var(--M50);
    cursor: pointer;
    outline-offset: u.rem(-2);

    .icon-button {
      opacity: 1; // reveal on hover or when navigating with keyboard
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    max-width: calc(100% - 41.5px); // gap (10) + button full width (31.5)
  }

  &__name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: noWrap;
    font-family: 'Bellaboo';
    font-weight: 600;
    font-size: u.rem(25);
  }

  &__other {
    display: flex;
    flex-direction: row;
    gap: u.rem(10);
    font-size: u.rem(14);

    // Date
    time {
      white-space: noWrap;
    }

    // Additional info
    div {
      color: var(--D100);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
}
