@use '../../styles/util/' as u;

.toolbar {
  margin-top: u.rem(5);
  border: u.rem(1) solid var(--M75);
  border-radius: u.rem(20);
  background-color: var(--background-color);
  padding: u.rem(5);
  padding-left: u.rem(10);
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__controls {
    display: flex;
    align-items: center;
    gap: u.rem(15);

    @include u.breakpoint-down(medium) {
      gap: u.rem(5);
    }
  }

  &__displays {
    display: flex;
    align-items: center;
    gap: u.rem(15);

    @include u.breakpoint-down(medium) {
      gap: u.rem(5);
    }
  }
}

.dropzone {
  position: relative;
  margin-top: u.rem(10);
  background-color: var(--background-color);
  height: 80vh;
  border-radius: u.rem(20);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  * {
    z-index: 1;
  }

  > svg {
    width: u.rem(50);
    height: u.rem(50);
    margin-bottom: u.rem(20);

    > path {
      transition: stroke 200ms ease-in-out;
      stroke: var(--P100);
    }
  }

  > p {
    text-align: center;
    font-size: u.rem(16);
    font-weight: 600;
    transition: color 200ms ease-in-out;
  }

  &::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    border-radius: u.rem(15);
    border: u.rem(2) dashed var(--M100);
    z-index: 0;
    transition: background-color 200ms ease-in-out;
  }

  &:hover,
  &:focus-visible {
    &::before {
      background-color: hsla(263, 85%, 95%, 0.25);
    }
    svg {
      > path {
        stroke: var(--P300);
      }
    }

    p {
      color: var(--P500);
    }
  }

  &.active {
    &::before {
      background-color: hsla(263, 85%, 95%, 0.5);
    }
  }
}

.filesContainer {
  margin-block: u.rem(20);

  &__files {
    margin-bottom: u.rem(384);
    width: 100%;
    padding: u.rem(10);
    display: inline-grid;
    grid-template-columns: repeat(auto-fill, minmax(u.rem(120), 1fr));
    grid-template-rows: repeat(auto-fill, u.rem(128));
    gap: u.rem(20) u.rem(5);

    @include u.breakpoint-down(medium) {
      gap: u.rem(10) 0;
    }
  }
}
