@use '../../styles/util/' as u;

.icon-button {
  border-radius: 50%;
  border-style: none;
  background-color: var(--bColor);
  transition: all 200ms ease-in-out;
  cursor: pointer;

  &:disabled {
    filter: brightness(1.02);
    cursor: not-allowed;

    svg {
      filter: invert(1) grayscale(1);
    }
  }
  &.shadow {
    box-shadow: 0 u.rem(2) u.rem(3) 0 hsl(254, 23%, 79%),
      0 0 u.rem(0.7) 0 var(--M100);
  }

  svg {
    width: 100%;
    height: 100%;

    path {
      transition: all 200ms ease-in-out;
      stroke: var(--iColor);
    }

    path.stroke {
      stroke: var(--iColor);
    }

    path.fill {
      fill: var(--iColor);
    }
  }

  &:not(:disabled):hover,
  &:not(:disabled):focus-visible {
    background-color: var(--bHcolor);

    path.stroke {
      stroke: var(--iHcolor);
    }

    path.fill {
      fill: var(--iHcolor);
    }
  }
}
