@use '../../../styles/util/' as u;

.ai-search {
  position: absolute;
  z-index: 100;
  display: flex;
  flex-direction: column;

  &__field {
    border-radius: u.rem(6);
    background-color: white;
    box-shadow: rgba(15, 15, 15, 0.05) 0 0 0 u.rem(1),
      rgba(15, 15, 15, 0.1) 0 u.rem(3) u.rem(6),
      rgba(15, 15, 15, 0.2) 0 u.rem(9) u.rem(24);
    padding: u.rem(7) u.rem(10);
    display: flex;
    align-items: center;
    gap: u.rem(10);

    input {
      width: 100%;
      font-family: 'Nunito';
      font-size: u.rem(14);
      font-weight: 600;

      background: none;
      border: none;
      outline: none;

      &::placeholder {
        font-weight: 400;
        color: var(--D100);
      }
    }

    > svg {
      height: u.rem(20);
      width: auto;
      > path {
        fill: var(--P100);
        stroke-width: u.rem(13);
      }
    }

    button {
      cursor: pointer;
      flex-shrink: 0;
      width: u.rem(25);
      height: u.rem(25);
      border-radius: 50%;
      border: none;
      background-color: var(--M75);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;

      > svg {
        rotate: 180deg;
        height: u.rem(12);
        width: auto;
        > path {
          stroke: white;
          stroke-width: u.rem(13);
        }
      }
    }
  }

  &__suggestions {
    margin-block: u.rem(4);
    border-radius: u.rem(6);
    background-color: white;
    box-shadow: rgba(15, 15, 15, 0.05) 0 0 0 u.rem(1),
      rgba(15, 15, 15, 0.1) 0 u.rem(3) u.rem(6),
      rgba(15, 15, 15, 0.2) 0 u.rem(9) u.rem(24);
    width: min(100%, u.rem(320));
    max-height: u.rem(320);
    padding: u.rem(10);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }
}
