@use '../../styles/util/' as u;

.userHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: u.rem(14);

  > h3 {
    color: var(--P300);
  }

  &__centerSpace {
    position: relative;
    display: flex;
    justify-content: center;
    flex: 1;
    height: u.rem(38);

    > div {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &__nav {
    display: flex;
    gap: u.rem(15);
  }
}
