@use '../../styles/util/' as u;

.user-header {
  position: fixed;
  z-index: 4;
  background-color: var(--off-white);
  display: flex;
  justify-content: space-between;
  gap: u.rem(10);
  align-items: center;
  padding-block: u.rem(14);

  &__page-name {
    color: var(--P300);
    font-weight: 900;
    font-size: u.rem(19);
  }

  &__center-space {
    position: relative;
    display: grid;
    flex: 1;
    height: u.rem(38);

    > form {
      position: absolute;
      transform: translateY(-3%);
    }
  }
}
