:root {
  --background-color: hsl(0, 0%, 100%);

  // Purple
  --P50: hsl(263, 85%, 95%);
  --P75: hsl(265, 88%, 78%);
  --P100: hsl(265, 87%, 69%);
  --P200: hsl(265, 87%, 55%);
  --P300: hsl(265, 100%, 46%);
  --P400: hsl(265, 100%, 33%);
  --P500: hsl(265, 100%, 28%);

  // Muted
  --M50: hsl(252, 26%, 96%);
  --M75: hsl(257, 24%, 85%);
  --M100: hsl(254, 23%, 79%);
  --M200: hsl(254, 22%, 69%);
  --M300: hsl(254, 23%, 63%);
  --M400: hsl(254, 13%, 44%);
  --M500: hsl(254, 13%, 38%);

  // Dark
  --D50: hsl(260, 8%, 92%);
  --D75: hsl(256, 7%, 68%);
  --D100: hsl(251, 7%, 55%);
  --D200: hsl(253, 13%, 36%);
  --D300: hsl(252, 25%, 23%);
  --D400: hsl(252, 24%, 16%);
  --D500: hsl(253, 25%, 14%); // Default text color

  // Semantic
  --S_RED: hsl(354, 100%, 41%);
  --S_ORANGE: hsl(25, 100%, 62%);
  --S_YELLOW: hsl(51, 100%, 65%);
  --S_GREEN: hsl(165, 100%, 34%);
  --S_BLUE: hsl(199, 100%, 44%);
}

// SVG filters

// Purple
$P100: invert(48%) sepia(58%) saturate(627%) hue-rotate(220deg) brightness(94%)
  contrast(105%);
$P200: invert(28%) sepia(86%) saturate(7221%) hue-rotate(264deg) brightness(95%)
  contrast(98%);
$P300: invert(19%) sepia(89%) saturate(7476%) hue-rotate(267deg) brightness(83%)
  contrast(128%);

// Muted
$M100: invert(83%) sepia(23%) saturate(187%) hue-rotate(214deg) brightness(90%)
  contrast(89%);
$M400: invert(42%) sepia(18%) saturate(513%) hue-rotate(212deg) brightness(89%)
  contrast(92%);

// Dark
$D500: invert(8%) sepia(39%) saturate(669%) hue-rotate(213deg) brightness(100%)
  contrast(94%);

// Semantic
$S_RED: invert(8%) sepia(95%) saturate(6752%) hue-rotate(350deg) brightness(97%)
  contrast(104%);
