@use '../util' as u;

h1,
h2,
h3 {
  font-weight: 900;
  line-height: 1.1; // line height of each line of text will be 110% taller than the font size itself
  margin: 0; // to overwrite browser default
}

h1 {
  font-size: clamp(u.rem(28), u.rem(16) + 2vw, u.rem(40));
}

p {
  margin: 0; // to overwrite browser default
  font-size: u.rem(14);
}

a,
a:visited,
a:active {
  text-decoration: none;
}
