@use '../util' as u;

// Font sizes
$font-lg: u.rem(28);
$font-md: u.rem(18);
$font-sm: u.rem(15);
$font-xs: u.rem(13);

h1,
h2,
h3 {
  font-weight: 900;
  line-height: 1.1; // line height of each line of text will be 110% taller than the font size itself
  margin: 0; // to overwrite browser default
}

h1 {
  font-size: clamp(u.rem(28), u.rem(16) + 2vw, u.rem(40));
}

p {
  margin: 0; // to overwrite browser default
  font-size: u.rem(14);
}

a,
a:visited,
a:active {
  text-decoration: none;
}
