@use '../util' as u;

// Font sizes
$font-xl: u.rem(28);
$font-lg: u.rem(22);
$font-md: u.rem(16);
$font-sm: u.rem(15);
$font-xs: u.rem(13);

h1,
h2,
h3 {
  font-weight: 900;
  line-height: 1.1; // line height of each line of text will be 110% taller than the font size itself
  margin: 0; // to overwrite browser default
}

h1 {
  font-size: clamp(u.rem(28), u.rem(16) + 2vw, u.rem(40));
}
h2 {
  font-size: clamp(u.rem(22), u.rem(13) + 1.6vw, u.rem(31));
}
h3 {
  font-size: u.rem(16), u.rem(10) + 1.2vw, u.rem(22);
}

p {
  margin: 0; // to overwrite browser default
  font-size: u.rem(14);
}

a,
a:visited,
a:active {
  text-decoration: none;
}
