@use '../../../styles/util/' as u;

.button {
  border-radius: u.rem(20);
  border-style: none;
  height: fit-content;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: u.rem(10);

  font-family: 'Nunito';
  font-weight: 700;
  text-wrap: nowrap;

  transition: all 150ms ease-in-out;
  cursor: pointer;

  &.primary {
    background: var(--P300);
    color: white;
    border-bottom: u.rem(4) solid var(--P400);
    box-shadow: 0 u.rem(5) u.rem(8) 0 hsla(0, 0%, 0%, 0.25);

    svg > path {
      // This could go wrong for brand icons with stroke widths
      stroke: var(--background-color);
      fill: var(--background-color);
    }

    &:hover,
    &:focus-visible {
      background: var(--P200);
      outline-offset: u.rem(2);
    }

    &:active:not(:disabled) {
      padding-block: u.rem(8);
      border-bottom: u.rem(2) solid var(--P400);
      box-shadow: 0 u.rem(2) u.rem(4) 0 hsla(0, 0%, 0%, 0.25);
    }

    &:disabled {
      background: var(--M75);
      color: var(--M50);
      border-bottom: u.rem(4) solid var(--M300);
      box-shadow: 0 u.rem(5) u.rem(8) 0 hsla(0, 0%, 0%, 0.1);
      cursor: not-allowed;

      svg {
        filter: grayscale(80%);
      }
    }
  }

  &.secondary {
    background: white;
    color: var(--P100);
    box-shadow: 0 u.rem(4) u.rem(4) 0 hsl(254, 23%, 79%),
      0 0 u.rem(2.7) u.rem(1) var(--M100);

    svg > path {
      // This could go wrong for brand icons with stroke widths
      stroke: var(--P100);
      fill: var(--P100);
    }

    &:hover,
    &:focus-visible {
      background: var(--P50);
      outline-offset: u.rem(4);
    }

    &:active:not(:disabled) {
      box-shadow: 0 u.rem(2) u.rem(3) 0 hsl(254, 23%, 79%),
        0 0 u.rem(0.7) 0 var(--M100);
    }

    &:disabled {
      background: var(--M50);
      color: var(--M75);
      box-shadow: 0 u.rem(4) 0 0 var(--M100);
      cursor: not-allowed;

      svg {
        filter: grayscale(80%);
      }
    }
  }

  &.large {
    padding: u.rem(7) u.rem(50);
    font-size: u.rem(15);

    > svg {
      width: u.rem(11.5);
      height: u.rem(11.5);
    }
  }

  &.medium {
    padding: u.rem(6) u.rem(40);
    font-size: u.rem(13);

    > svg {
      width: u.rem(10);
      height: u.rem(10);
    }
  }

  &.small {
    padding: u.rem(5) u.rem(30);
    font-size: u.rem(11);

    > svg {
      width: u.rem(9);
      height: u.rem(9);
    }
  }

  &__loading {
    display: flex;
    padding-block: u.rem(5.25);

    .dot-flashing {
      position: relative;
      width: u.rem(10);
      height: u.rem(10);
      border-radius: 50%;
      background-color: var(--M50);
      animation: dot-flashing 1.2s infinite alternate;
      animation-delay: 0.6s;
    }

    .dot-flashing::before,
    .dot-flashing::after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 0;
    }

    .dot-flashing::before {
      left: u.rem(-15);
      width: u.rem(10);
      height: u.rem(10);
      border-radius: 50%;
      background-color: var(--M50);
      animation: dot-flashing 1.2s infinite alternate;
      animation-delay: 0s;
    }

    .dot-flashing::after {
      left: u.rem(15);
      width: u.rem(10);
      height: u.rem(10);
      border-radius: 50%;
      background-color: var(--M50);
      animation: dot-flashing 1.2s infinite alternate;
      animation-delay: 1.2s;
    }

    @keyframes dot-flashing {
      0% {
        background-color: var(--M200);
      }
      50%,
      100% {
        background-color: var(--M50);
      }
    }
  }
}
