@use '../../../styles/util/' as u;
@use '../../../styles/globals/' as g;

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.inputContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: u.rem(5);

  .input {
    border-radius: u.rem(12);
    border: u.rem(2) solid var(--M75);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: u.rem(10);
    padding: u.rem(12) u.rem(18);

    color: var(--D200);

    &:hover {
      cursor: text;
      border-color: var(--M200);
      background-color: var(--M50);

      input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px var(--M50) inset !important;
      }
    }

    &:focus-within {
      border-color: var(--P75);
      background-color: var(--background-color);
      outline: none;
    }

    &.error {
      // helper class
      border-color: var(--S_RED);
      background: rgb(255, 244, 244);

      input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px rgb(255, 244, 244) inset !important;
      }
    }

    &__field {
      flex: 1;

      font-family: 'Nunito';
      font-size: u.rem(15);
      font-weight: 700;

      background: none;
      border: none;
      outline: none;

      &::placeholder {
        color: var(--D100);
      }
    }

    &__icon {
      height: u.rem(15);
      cursor: pointer;

      &.muted {
        filter: g.$M100;
      }

      &.purple {
        filter: g.$P300;
      }
    }
  }

  .inputError {
    display: flex;
    gap: u.rem(7);

    &__message {
      color: var(--S_RED);
      font-size: u.rem(13);
      font-weight: 700;
      text-align: start;
    }

    &__icon {
      height: u.rem(13);
      padding-top: u.rem(4);
      filter: g.$S_RED;
    }
  }
}
