@use '../../../styles/util/' as u;

.inputContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: u.rem(5);

  .input {
    border-radius: u.rem(12);
    border: u.rem(2) solid var(--M75);

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: u.rem(10);
    padding: u.rem(12) u.rem(18);

    color: var(--D200);

    &:hover {
      border-color: var(--M200);
      background-color: var(--M50);
      cursor: text;
    }

    &:focus-within {
      border-color: var(--P75);
      background-color: var(--background-color);
      outline: none;
    }

    &.error {
      // helper class
      border-color: var(--S_RED);
      background: rgb(255, 244, 244);
    }

    &__field {
      flex: 1;

      font-family: 'Nunito';
      font-size: u.rem(15);
      font-weight: 700;

      background: none;
      border: none;
      outline: none;

      // /* Override browser styles for autofilled input fields */
      // &:-internal-autofill-selected {
      //   appearance: none;
      //   background-image: none !important;
      //   background-color: transparent !important; /* Set to your desired background color */
      //   color: inherit !important; /* Set to your desired text color */
      // }

      &::placeholder {
        color: var(--D100);
      }
    }

    &__icon {
      height: u.rem(15);
      cursor: pointer;
    }
  }

  .errorContainer {
    display: flex;
    align-items: center;
    gap: u.rem(7);

    &__message {
      color: var(--S_RED);
      font-size: u.rem(13);
      font-weight: 700;
    }

    &__icon {
      height: u.rem(13);
    }
  }
}
