@use '../../../styles/util/' as u;
@use '../../../styles/globals/' as g;

// WebKit-specific autofill styling
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 u.rem(30) white inset !important;
}

// Non-WebKit browsers (Firefox in particular)
input:-moz-autofill {
  box-shadow: 0 0 0 u.rem(30) white inset !important;
}

.input-container {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: u.rem(5);

  .input {
    border-radius: u.rem(12);
    border: u.rem(2) solid var(--M75);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: u.rem(10);
    color: var(--D200);

    &.large {
      padding: u.rem(12) u.rem(18);
    }

    &.medium {
      padding: u.rem(10) u.rem(16);

      > input {
        // &__field
        font-size: u.rem(14);
      }
      > img {
        // &__icon
        height: u.rem(14);
      }
    }

    &.small {
      padding: u.rem(8) u.rem(13);

      > input {
        // &__field
        font-size: u.rem(13);
      }
      > svg {
        // &__icon
        height: u.rem(13);
      }
    }

    &:hover {
      cursor: text;
      border-color: var(--M200);
      background-color: var(--M50);

      input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 u.rem(30) var(--M50) inset !important;
      }
    }

    &:focus-within {
      border-color: var(--P75);
      background-color: var(--background-color);
      outline: none;
    }

    &.error {
      border-color: var(--S_RED);
      background: rgb(255, 244, 244);

      input:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 u.rem(30) rgb(255, 244, 244) inset !important;
      }
    }

    &__field {
      width: 100%;

      font-family: 'Nunito';
      font-size: u.rem(15);
      font-weight: 700;

      background: none;
      border: none;
      outline: none;

      &::placeholder {
        color: var(--D100);
      }
    }

    &__icon {
      height: u.rem(15);
      cursor: pointer;
      outline-offset: 2px;

      &.muted {
        path {
          fill: var(--M100);
        }
      }

      &.purple {
        path {
          fill: var(--P300);
        }
      }
    }
  }
}
.input-error {
  display: flex;
  gap: u.rem(7);

  &__message {
    color: var(--S_RED);
    font-size: u.rem(13);
    font-weight: 700;
    text-align: start;
  }

  &__icon {
    height: u.rem(13);
    padding-top: u.rem(4);

    path {
      fill: var(--S_RED);
    }
  }
}
