@use '../../styles/util/' as u;

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: u.rem(8);

  &__logo {
    font-family: 'Vintage';
    font-weight: normal;
    color: var(--P300);
  }
}
