@use '../../../styles/util' as u;

.menu-item {
  position: relative;
  border-radius: u.rem(10);
  display: flex;
  flex-direction: column;
  justify-content: center;

  // Submenu type 1 effect on menu-item
  &.sub1 {
    background-color: var(--M50);

    // MoreIcon animation
    span > svg {
      transform: rotate(90deg);
      transition: transform 500ms ease-out;
    }
  }

  // Submenu type 2 effect on menu-item
  &.sub2 {
    background-color: var(--M50);
  }

  &__title {
    position: relative;
    border-radius: u.rem(10);
    display: flex;
    align-items: center;
    gap: u.rem(20);
    transition: color, background-color 100ms ease-in-out;
    cursor: pointer;
    background: none; // when title is a button
    border: none; // when title is a button

    // Icon styles
    svg {
      width: u.rem(18);
      height: auto;
      flex-shrink: 0;

      > path {
        stroke: var(--M400);
      }
    }

    // Label and more icon container
    span {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      // Label styles
      div {
        overflow: hidden;
        font-size: u.rem(16);
        color: var(--M400);
      }

      // More icon styles
      svg {
        height: u.rem(10);
        width: auto;
        margin-left: u.rem(20);
        transform: rotate(0deg);
        transition: transform 500ms ease-out;
      }
    }

    &.large {
      padding: u.rem(10) u.rem(15);
    }

    &.medium {
      padding: u.rem(7) u.rem(12);
      gap: u.rem(15);

      // Icon
      svg {
        width: u.rem(16);
      }

      span {
        // Label
        div {
          font-size: u.rem(15);
        }
        // More icon
        svg {
          height: u.rem(9);
        }
      }
    }

    &.small {
      padding: u.rem(5) u.rem(10);
      gap: u.rem(10);

      // Icon
      svg {
        width: u.rem(14);
      }

      span {
        // Label
        div {
          font-size: u.rem(14);
        }
        // More icon
        svg {
          height: u.rem(8.5);
        }
      }
    }

    &.disabled {
      cursor: not-allowed;
      // Icon
      svg > path {
        stroke: var(--M100);
      }

      // Label
      span > div {
        color: var(--M100);
      }
    }

    &.highlighted {
      // Left icon and more icon
      svg > path {
        stroke: var(--P300);
      }

      // Left icon only
      > svg > path {
        stroke-width: 13;
      }

      // Label
      div {
        color: var(--P300);
        font-weight: 600;
      }
    }

    &:not(.disabled):hover,
    &:not(.disabled):focus-visible {
      background-color: var(--M50);

      // Left icon and more icon
      svg > path {
        stroke: var(--P300);
      }

      // Label
      div {
        color: var(--P300);
      }
    }
  }

  &__submenu {
    display: flex;
    flex-direction: column;

    // Icons
    svg {
      width: u.rem(16.5);
      height: auto;
    }

    // Labels
    div {
      font-size: u.rem(14.5);
    }

    // Submenu type 1
    &.sub1 {
      padding: 0 u.rem(10) u.rem(10) u.rem(20);
    }

    // Submenu type 2
    &.sub2 {
      position: absolute;
      width: u.rem(173);
      border: u.rem(1.5) solid var(--M50);
      border-radius: u.rem(10);
      background-color: var(--D500);
      padding: u.rem(16);
      overflow: hidden;

      // Icons
      svg > path {
        stroke: var(--D50);
      }

      // Labels
      div {
        color: var(--D50);
      }
    }

    // Submenu type 2 position 1: top right - top left alignment
    &.tr-tl {
      z-index: 100;
      top: 0;
      left: calc(100% + u.rem(16));
    }
  }

  &__tooltip {
    z-index: 100;
    position: absolute;
    text-wrap: nowrap;
    top: 15%;
    left: 140%;
    background-color: var(--D500);
    border-radius: u.rem(5);
    padding: u.rem(5) u.rem(10);
    color: var(--D50);
    font-weight: 600;

    // Tooltip pointer
    &::before {
      content: '';
      position: absolute;
      top: 50%;
      right: 100%;
      margin-top: u.rem(-5); /* Half of the arrow height */
      border-width: u.rem(5);
      border-style: solid;
      border-color: transparent var(--D500) transparent transparent;
    }
  }
}
