@use '../../../styles/util/' as u;

.property-selection-base {
  width: 100%;
  cursor: pointer;
  border-radius: u.rem(10);
  padding: u.rem(5) u.rem(10);
  display: flex;
  align-items: center;
  gap: u.rem(10);
  transition: background-color 0.2s ease-in-out;

  &:hover,
  &:focus-visible {
    background-color: var(--M50);
    outline-offset: u.rem(-2);
  }

  .property__name {
    cursor: pointer;
  }
}

.property-selection,
.property-creation {
  @extend .property-selection-base;
}

.property-selection {
  justify-content: space-between;

  &__dragAndDisplay {
    max-width: calc(100% - u.rem(30));
    // gap (10) + menu icon container div width (20)
    display: flex;
    align-items: center;
    gap: u.rem(10);

    // overwrite property width to fit the available space
    .property {
      max-width: calc(100% - u.rem(calc(10 + 0.66 * 12)));
      // gap (10) + drag icon width (0.66 * height (12))
    }

    // drag icon
    > svg {
      flex-shrink: 0;
      // if height ever changes the modification of the property class inside &__dragAndDisplay will need to be changed as well
      height: u.rem(12);
      width: auto;
      outline-offset: u.rem(3);
    }
  }

  &__actionButton {
    flex-shrink: 0;
    // if h and w ever change the max-width of &__dragAndDisplay will need to be changed as well
    height: u.rem(20);
    width: u.rem(20);
    border-radius: u.rem(6);
    display: flex;
    justify-content: center;
    transition: background-color 0.1s ease-in-out;

    svg {
      width: u.rem(12);
      height: auto;
    }

    &:hover {
      background-color: var(--M75);
    }
  }
}

.property-creation {
  > div {
    // if these 2 ever change the modification of the property class inside property-creation will need to be changed as well
    font-size: u.rem(13);
    font-weight: 700;
    color: var(--D200);
  }

  // overwrite property width to fit the available space
  .property {
    max-width: calc(100% - u.rem(49.9688));
    // gap (10) + 'create' width (39.9688)
  }
}
