@use '../../../styles/util/' as u;

.property {
  max-width: 100%; // depends on available space inside the parent element, by default we assume that property is the only child so it can take up the entire space, this can be overwitten from the scss of the parent element to fit the available space, example propertySelection in the editMenu
  margin: u.rem(1);
  border-radius: u.rem(10);
  display: flex;
  align-items: center;
  padding-inline: u.rem(10);
  padding-block: u.rem(2);
  gap: u.rem(10);
  font-size: u.rem(13);
  font-weight: 600;

  &__name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;

    &.link:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  &:focus > &__name.link {
    text-decoration: underline;
  }

  > svg {
    flex-shrink: 0;
    height: u.rem(8);
    width: auto;
    cursor: pointer;
    transition: transform, stroke 0.2s ease;

    &:hover,
    &:focus {
      transform: scale(1.1);
      outline-offset: u.rem(3);

      > path {
        stroke: var(--S_RED);
      }
    }
  }
}
