@use '../../../styles/util/' as u;

.search {
  overflow: hidden;
  height: fit-content;
  border-radius: u.rem(20);
  background-color: var(--background-color);
  border: u.rem(1.5) solid var(--background-color);
  display: flex;
  flex-direction: column;
  transition: all 200ms ease-in-out;

  &.expanded {
    width: min(100%, u.rem(400));
    justify-self: center;
  }

  &.collapsed {
    width: fit-content;
    justify-self: right;
  }

  &:hover {
    border-color: var(--M75);
  }

  &:focus-within {
    border-color: var(--P75);
    background-color: var(--background-color);

    button {
      cursor: pointer;

      &:hover {
        background-color: var(--M75);
      }
    }
  }

  &.searching {
    border: none;
    box-shadow: 0 u.rem(8) u.rem(10) 0 hsla(0, 0%, 0%, 0.15);
  }

  &__field {
    border-radius: u.rem(20); // for keyboard navigation
    display: flex;
    align-items: center;
    padding: u.rem(7);

    button {
      flex-shrink: 0;
      width: u.rem(25);
      height: u.rem(25);
      border-radius: 50%;
      border: none;
      background-color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
      transition: all 200ms ease-in-out;

      > svg {
        height: u.rem(12);
        width: auto;
        > path {
          stroke: var(--D200);
          stroke-width: u.rem(13);
        }
      }
    }

    input {
      width: 100%;
      font-family: 'Nunito';
      font-size: u.rem(14);
      font-weight: 600;

      background: none;
      border: none;
      outline: none;

      &::placeholder {
        font-weight: 400;
        color: var(--D200);
      }
    }

    input:not(:focus) {
      cursor: default;
    }
  }

  &__suggestions {
    display: flex;
    flex-direction: column;
    padding-bottom: u.rem(15);
    max-height: u.rem(200);
    overflow-y: scroll;
  }
}
